---
import PageLayout from '../layouts/PageLayout.astro';
---
<PageLayout title="Impressum">
  <h1 class="text-2xl font-bold mb-4">Impressum</h1>
  <p>Verantwortlich: Marco Stocker, Vilters-Wangs, Schweiz. Kontakt: ms.futuredeals@gmail.com</p>
</PageLayout>
