---
const { items = [] } = Astro.props as { items: Array<{label:string, value:string}> };
---
<ul class="not-prose grid sm:grid-cols-2 gap-3 my-6">
  {items.map((i) => (
    <li class="border rounded-lg p-3">
      <div class="text-xs text-zinc-500">{i.label}</div>
      <div class="font-medium">{i.value}</div>
    </li>
  ))}
</ul>
